<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>complete</title>
  </head>

  <body>
    <center><h1>AgencyTeam assignments</h1></center>
    <center><a href="/">메인 페이지</a><br><center>
    <hr width="100%" color="black"/>
    <center><h3>Transform Completed Files!</h3></center>
    <hr width="100%" color="black"/>

    <img src="{{ url_for('static', filename = 'images/excel.png') }}", width="100" 
        style="margin-left: auto; margin-right: auto; display: block;")/>

    <br><br>
    <center>
      <table border="1">
        <tr>
          <td>
            발주파일.xlsx 다운로드 -->
          </td>
          <td>
            <a href="{{ url_for('static', filename = 'gen_files/발주파일.xlsx') }}" download="발주파일.xlsx">발주파일.xlsx</a>
          </td>
        </tr>
        <tr>
          <td>
            발주파일.json 다운로드 -->
          </td>
          <td>
            <a href="{{ url_for('static', filename = 'gen_files/발주파일.json') }}" download="발주파일.json">발주파일.json</a>
          </td>
        </tr>
        <tr>
          <td>
            물류파일.xlsx 다운로드 -->
          </td>
          <td>
            <a href="{{ url_for('static', filename = 'gen_files/물류파일.xlsx') }}" download="물류파일.xlsx">물류파일.xlsx</a>
          </td>
        </tr>
        <tr>
          <td>
            물류파일.json 다운로드 -->
          </td>
          <td>
            <a href="{{ url_for('static', filename = 'gen_files/물류파일.json') }}" download="물류파일.json">물류파일.json</a>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
