{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid bg-dark">
        <center>
            <br><legend><p class="text-white fs-1">Upload File</p></legend><br>
            <img src="{{ url_for('static', filename = 'images/excel.png') }}", width="100" 
                style="margin-left: auto; margin-right: auto; display: block;")/><br>
        </center>
        <center>
            <font size="4em" color="white">
                해당 되는 값만 입력해주세요.
            </font>
        </center>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action = "{{ url_for('distribution_transform') }}" method = "POST" enctype = "multipart/form-data">
                    <p class="text-white fs-5">1. Excel file select</p>
                    <div class="mb-4">
                        <input class="form-control" name="distribution" type="file" id="formFile">
                    </div>
                    <p class="text-white fs-5">2. Shipper's information</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon3">Customer Account No.</span>
                        <input type="text" class="form-control" name="account_No." placeholder="0825004317">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Company Name</span>
                        <input type="text" class="form-control" name = "company_name" placeholder="">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Contact Name</span>
                        <input type="text" class="form-control" name="contact_name" placeholder="Jiyeon Song">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Tel</span>
                        <input type="email" class="form-control" name="tel" placeholder="821033117252">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Address</span>
                        <input type="text" class="form-control" name = "address" placeholder="Room 1319, Mirabell tower 13F, 362-2, Yeongcheon-dong">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">City</span>
                        <input type="text" class="form-control" name = "city" placeholder="Hwaseong-si">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Province</span>
                        <input type="text" class="form-control" name = "province" placeholder="Gyeonggi-do">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Country/Region</span>
                        <input type="text" class="form-control" name = "country" placeholder="Korea"> <!--default값 China?-->
                    </div>
                    
                    <p class="text-white fs-5">3. Receiver's Information</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver Customer Account No.</span>
                        <input type="text" name="receiver_customer_account_No." class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver's Tax ID No.</span>
                        <input type="text" name="receiver_tax_id_No." class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver Company Name</span>
                        <input type="text" name="receiver_company_name" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver Chinese Name</span>
                        <input type="email" name="receiver_chinese_name" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver Email</span>
                        <input type="text" name="receiver_email" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver Country/Region</span>
                        <input type="text" name="receiver_country" class="form-control" placeholder="China">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver Credentials Type</span>
                        <input type="text" name="receiver_credentials_type" class="form-control" placeholder="ID">
                    </div>

                    <p class="text-white fs-5">4. Description of Contents</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Currency</span>
                        <input type="text" name="currency" class="form-control" placeholder="CNY">
                    </div>

                    <p class="text-white fs-5">5. Shipment Type</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Shipment Type</span>
                        <input type="text" name="shipment_type" class="form-control" placeholder="International Standard Express - Parcel">
                    </div>
                    <p class="text-white fs-5">5.Additio al Services</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Add Service1</span>
                        <input type="text" name="add_service1" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Add Service Account1</span>
                        <input type="text" name="add_service_account1" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Add Service Amount1</span>
                        <input type="text" name="add_service_amount1" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Add Service2</span>
                        <input type="text" name="add_service2" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Add Service Account2</span>
                        <input type="text" name="add_service_account2" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Add Service Amount2</span>
                        <input type="text" name="add_service_amount2" class="form-control">
                    </div>
                    <p class="text-white fs-5">6. Shipment Details</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Total Package</span>
                        <input type="text" name="total_package" class="form-control" placeholder="1">
                    </div>
                    <p class="text-white fs-5">7. District Code</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Self Pickup</span>
                        <input type="text" name="self_pickup" class="form-control">
                    </div>
                    <p class="text-white fs-5">8. Payment of Freight Charges</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Payment Method</span>
                        <input type="text" name="payment_method" class="form-control" placeholder="Shipper">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Account No.</span>
                        <input type="text" name="payment_account_No." class="form-control" placeholder="">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Third Party District Code</span>
                        <input type="text" name="third_party_district_code" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Tax payment</span>
                        <input type="text" name="tax_payment" class="form-control" placeholder="Shipper">
                    </div>
                    <p class="text-white fs-5">9. Dimensions in cm</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">(PCS) 1</span>
                        <input type="text" name="pcs" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">(L) 1</span>
                        <input type="text" name="l1" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">(W) 1</span>
                        <input type="text" name="w1" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">(H) 1</span>
                        <input type="text" name="h1" class="form-control">
                    </div>
                    <p class="text-white fs-5">10. Commercial Invoice</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Term of Trade</span>
                        <input type="text" name="term_of_trade" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Reason for Sending 1</span>
                        <input type="text" name="reason_for_sending1" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Reason for Sending 2</span>
                        <input type="text" name="reason_for_sending2" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Remarks</span>
                        <input type="text" name="remarks" class="form-control">
                    </div>
                    <p class="text-white fs-5">11. AWB Remarks</p>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">AWB Remarks</span>
                        <input type="text" name="awb_remarks" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Tax Account</span>
                        <input type="text" name="tax_account" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Add Service3</span>
                        <input type="text" name="add_service3" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">VAT</span>
                        <input type="text" name="vat" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">EORI</span>
                        <input type="text" name="eori" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Traceability label</span>
                        <input type="text" name="traceability_label" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">PO Number</span>
                        <input type="text" name="po_number" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Shipper's Tax ID No.</span>
                        <input type="text" name="shipper's_tax_id_No." class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Appointment Time</span>
                        <input type="text" name="Appointment_time" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Personal baggage</span>
                        <input type="text" name="personal_baggage" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Importer Company Name</span>
                        <input type="text" name="importer_company_name" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Importer Tel No.</span>
                        <input type="text" name="importer_tel_No." class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Importer Address</span>
                        <input type="text" name="importer_address" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Agent Waybill</span>
                        <input type="text" name="agent_waybill" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Customs Clearance</span>
                        <input type="text" name="customs_clearance" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Shipper Country</span>
                        <input type="text" name="shipper_country" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Receiver County</span>
                        <input type="text" name="receiver_country" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Shipper Credentials Type</span>
                        <input type="email" name="shipper_credentials_type" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Shipper Credentials No.</span>
                        <input type="text" name="shipper_credentials_No." class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Notify to pick up</span>
                        <input type="text" name="notify_to__pick_up" class="form-control" placeholder="NO">
                    </div>
                    <div class="input-group mb-3">
                        <span class="w-25 input-group-text" id="basic-addon1">Formal Customs Declaration For Import</span>
                        <input type="text" name="formal_cutoms_declaration_for_import" class="form-control">
                    </div>
                    <center><button type="submit" class="btn btn-secondary btn-lg">업로드</button><br></center>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}