{% extends "base.html" %}
    {% block content %}
        <div class="container-fluid bg-dark">
            <center>
                <p class="fs-1 text-white">Decant Excel Transform</p>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" onclick="location.href='order'" class="btn btn-secondary">발주파일</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" onclick="location.href='distribution'" class="btn btn-secondary">물류파일</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" onclick="location.href='upload'" class="btn btn-secondary">업로드파일</button>
                    </div>
                </div>
                <img src="{{ url_for('static', filename = 'images/decant.png') }}", width="100%" style="margin-left: auto; margin-right: auto; display: block;")/><br>
            </center>
        </div>
    {% endblock %}