{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid bg-dark">
    <center>
      <br><legend><p class="text-white fs-1">Upload File</p></legend><br>
      <img src="{{ url_for('static', filename = 'images/excel.png') }}", width="100" 
        style="margin-left: auto; margin-right: auto; display: block;")/><br>
    </center>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form action = "{{ url_for('order_transform') }}" method = "POST" enctype = "multipart/form-data">
          <p class="text-white fs-5">1. Excel file select</p>
          <div class="mb-4">
            <input class="form-control" type="file" id="formFile">
          </div>
          <p class="text-white fs-5">2. Orderer information</p>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">주문자 성명</span>
            <input type="text" class="form-control" placeholder="에이전시팀">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">주문자 전화번호</span>
            <input type="text" class="form-control" placeholder="010-3311-7252">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">주문자 휴대폰</span>
            <input type="text" class="form-control" placeholder="010-3311-7252">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">주문자 이메일</span>
            <input type="email" class="form-control" placeholder="jiyeon@agencyteam.co.kr">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">주문자 우편번호</span>
            <input type="text" class="form-control" placeholder="18469">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">주문자 고정주소</span>
            <input type="text" class="form-control" placeholder="경기 화성시 영천동 362-2">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">주문자 상세주소</span>
            <input type="text" class="form-control" placeholder="동익미라벨타워 13층 1319호">
          </div>
          <p class="text-white fs-5">3. Recipient information</p>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">수령자 성명</span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">수령자 전화번호</span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">수령자 휴대폰</span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">수령자 이메일</span>
            <input type="email" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">수령자 우편번호</span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">수령자 고정주소</span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="w-25 input-group-text" id="basic-addon1">수령자 상세주소</span>
            <input type="text" class="form-control">
          </div>
          <center><button type="submit" class="btn btn-secondary btn-lg">업로드</button><br></center>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock %}