{% extends 'base.html' %}

{% block content %}
    <div class="bg-dark">
    <center><h3><p class="text-white">Download File!</p></h3></center>
    <br>
    <img src="{{ url_for('static', filename = 'img/excel.png') }}", width="100" 
        style="margin-left: auto; margin-right: auto; display: block;")/>

    <div class="container">
        <div class="text-left mx-auto w-25">
            <h1></h1>
            <br><br>
            {% if 'Domestic' in server_list %}
            <h5><a href="{{ url_for('static', filename = 'files/국내서버업로드용.xlsx') }}" class="badge badge-light" download="국내서버업로드용.xlsx">국내서버업로드용.xlsx</a></h5>
            {% endif %}
            {% if 'SouthEastAsia' in server_list %}
            <h5><a href="{{ url_for('static', filename = 'files/동남아서버업로드용.xlsx') }}" class="badge badge-light" download="동남아서버업로드용.xlsx">동남아서버업로드용.xlsx</a></h5>
            {% endif %}
            {% if 'China' in server_list %}
            <h5><a href="{{ url_for('static', filename = 'files/중국(위챗)서버업로드용.xlsx') }}" class="badge badge-light" download="중국(위챗)서버업로드용.xlsx">중국(위챗)서버업로드용.xlsx</a></h5>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}